.mdlwrap {
  position: relative;
  width: 100%;
  height: @wrapheightmobile;
  overflow: hidden;

  @media (min-width: @bpdesktop) {
    height: @wrapheightdesktop;
  }
}

.mdlhero,
.mdlseo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.mdlhero {
  z-index: @zindexhero;
  transform: translateY(0);
  will-change: transform;
  border-radius: 0;
  overflow: hidden;
  transition: @transitionradius;
}

.mdlseo {
  z-index: @zindexseo;
  will-change: transform;
}

.mdlwrap.isseodetail {
  .mdlseointro {
    opacity: 0;

    pointer-events: none;
  }

  .mdlseointromask {
    -webkit-mask-size: 5000% 5000%;
    mask-size: 5000% 5000%;
  }

  .mdlseointrocontent {
    display: none;
  }
}
